@media (max-width: 800px) {
  .mobile {
    display: flex;
    flex-direction: column;

    .menu {
      flex-direction: column;
      justify-content: center;
      padding-block: 10px 4px;
    }

    .initial-main {
      display: flex;
      flex-direction: column;
      height: auto;

      .content-initial {
        width: 100%;
      }
    }

    .about {
      display: flex;
      flex-direction: column;

      p {
        width: 100%;
        padding-bottom: 10px;
      }
    }

    .cards {
      flex-direction: column;
      object-fit: cover;
      padding-top: 10px;

      p {
        justify-self: start;
        padding-left: 24px;
      }
    }

    .gallery-img {
      flex-direction: column;
      object-fit: cover;
      padding-top: 10px;
    }

    .prominence {
      img {
        height: 300px;
      }
    }

    .contact {
      .infos {
        display: flex;
        flex-direction: column;
      }
    }
  }
  footer {
    h4 {
      padding-bottom: 30px;
    }
  }
}
