.about {
  display: flex;
  flex-direction: column;
  color: var(--color-text);

  h3 {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  p {
    display: flex;
    align-self: center;
    width: 60%;
  }
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-block: 20px;

  .card {
    position: relative;
    width: 180px;
  }

  img {
    width: 180px;
    height: 100%;
  }

   a {
    justify-self: center;
    color: var(--color-anime-list);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    opacity: 0;

    
  }
  a:hover {
    opacity: 0.5;
  }
}

.prominence {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-background);
  color: var(--color-text);

  h3 {
    justify-content: center;
    width: 80%;
  }

  p {
    width: 80%;
    padding-bottom: 20px;
    
  }

  img {
    height: 500px;
    padding: 24px 30px;
    object-fit: cover;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-block: 20px;

.contact-form {
  width: 50%;
}

.box-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

  .message {
    width: 100%;
  }

}

